.button {
  border-radius: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  filter: drop-shadow(3px 2px 3px #323031);
}
.button:hover {
  cursor: pointer;
}

.exitModal {
  display: flex;
  position: absolute;
  left: 85%;
  bottom: 85%;
  width: fit-content;
  height: fit-content;
}

.navigateToDonate {
  display: inline-block;
  position: relative;
  left: 150px;
}

.cancelDonation {
  display: inline-block;
  position: relative;
  left: -100px;
}
